body.active-modal {
    overflow-y: hidden;
    background: rgba(49, 49, 49, 0.8) !important;

}

.btn-modal_modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal_modal,
.overlay_modal {
    z-index: 9999;
    width: 100vw !important;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(49, 49, 49, 0.8) !important;
}

.overlay_modal {
    background: rgba(49, 49, 49, 0.8) !important;
}

.modal-content_modal {
    z-index:2;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 350px;
}

.close-modal_modal {
    position: absolute;
    top: -40px;
    right: -30px;
    padding: 5px 7px;
    color: white;
}